button,
.button {
  background: white;
  border: 1px solid #8f8f9d;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  display: inline-block;
}
button:hover,
.button:hover {
  box-shadow: inset 0 0 0 99em rgba(0, 0, 0, 0.1);
}
button:disabled:hover,
.button:disabled:hover {
  box-shadow: none;
  cursor: not-allowed;
}
button:active,
.button:active {
  box-shadow: inset 0 0 0 99em rgba(0, 0, 0, 0.2);
}
